/* ============================================================ */
/*
	Alec's Actually Responsive Hubspot CSS Code
	- Overrides Hubspot font sizes with custom relative font sizes and clamp() math functions
	- Notes content
*/
/* ============================================================ */

/* ===== =========================== ===== */
/* ===== Responsive/Fluid Font Sizes ===== */
/* ===== =========================== ===== */
    :root{
        /* Hero Section */
        --customHeroH1: clamp(2.2rem, 4vw + 1rem, 4.063rem); /* 36px-65px */
        --customHeroSubhead: clamp(1.25rem, 1vw + 1rem, 1.5rem); /* 20px-24px */
        
        /* Body Sections - General */
        --customFontSizeLarge: clamp(1.563rem, 2vw + 1rem, 2.5rem); /* 25px-40px */
        --customFontSizeMedium: clamp(0.875rem, 5vw - 1rem, 1.5rem); /* 18px-24px */
        
        /* Body Sections - Specific */
        --customBodyH2Size: clamp(2.188rem, 3.5vw + 1rem, 3.438rem); /* Min value (35px) ends at 543 px. Max value (55px) starts at 1114 px. */

        /* Static Body Sizes - smaller regular text */
        --customFontSizeNormal: 20px; /* Static */
        --customFontSizeSmall: 16px; /* Static */
        --customFontSizeDetail: 12px; /* Static */
    }
    /* MOBILE SIZING */
    @media (max-width: 800px) {
        body{
            /* Body Sections */
            --customFontSizeLarge: 25px;         
            --customFontSizeMedium: 18px;
            --customFontSizeNormal: 16px;
            --customFontSizeSmall: 14px;
            --customFontSizeDetail: 12px;
        }   
    }

/* ===== ===================== ===== */
/* ===== Custom Element Sizing ===== */
/* ===== ===================== ===== */
    :root{
        --customHeroSectionHeightLarge: clamp(800px, 60vw, 1200px); 
        --customHeroSectionHeightMedium: clamp(500px, 45vw, 700px); 
        --customHeroSectionHeightSmall: clamp(800px, 60vw, 1200px); 
        
    }


/* ===== ============================================================ ===== */
/* ===== Font Size Classes - directly corresponds with variable names ===== */
/* ===== ============================================================ ===== */
    .customHeroH1{
        font-size: var(--customHeroH1);
    }
    .customHeroSubhead{
        font-size: var(--customHeroSubhead);
    }

    .customFontSizeLarge{
        font-size: var(--customFontSizeLarge);
    }
    .customFontSizeMedium{
        font-size: var(--customFontSizeMedium);
    }
    .customFontSizeNormal{
        font-size: var(--customFontSizeNormal);
    }
    .customFontSizeSmall{
        font-size: var(--customFontSizeSmall);
    }
    .customFontSizeDetail{
        font-size: var(--customFontSizeDetail);
    }